<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/admin_style.css}">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo">Resume Admin</div>

        <nav>
            <a th:href="@{/admin/index}" class="active">
                <i class="fas fa-home"></i> Dashboard
            </a>
            <a th:href="@{/admin/user-lists}">
                <i class="fas fa-users"></i> Users
            </a>
            <a th:href="@{/admin/show-messages}">
                <i class="fas fa-envelope"></i> Messages
            </a>
            <a th:href="@{/admin/admin-management}">
                <i class="fa-solid fa-shield"></i> Admin Management
            </a>
        </nav>

        <div class="logout">
            <a th:href="@{/logout}">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>

    </aside>

    <!-- MAIN -->
    <main class="main">

        <!-- TOPBAR -->
        <header class="topbar">
            <h2>Dashboard</h2>

            <div class="top-icons">
                <span th:text="${admin.name}">Admin</span>
                <i class="fas fa-user-circle"></i>
            </div>
        </header>

        <!-- DYNAMIC CONTENT -->
        <section class="content">
            <div th:replace="${content}"></div>
        </section>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>