<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin_base::layout(~{::section})}">

<body>

<section>

    <h3 class="page-title">Overview</h3>

    <div class="cards">

        <!-- Resume -->
        <div class="card">
            <i class="fas fa-file-alt"></i>
            <h4 th:text="${totalResumes}">4</h4>
            <p>Total Resume</p>
        </div>

        <!-- Users -->
        <div class="card">
            <i class="fas fa-users"></i>
            <h4 th:text="${Total_Users}">50</h4>
            <p>Total Users</p>
        </div>

        <!-- Messages -->
        <div class="card">
            <i class="fas fa-envelope"></i>
            <h4 th:text="${Total_Messages}">65</h4>
            <p>Total Messages</p>
        </div>

    </div>

</section>

</body>
</html>