<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin_base::layout(~{::section})}">

<body>

<section>

    <!-- TITLE -->
    <h3 class="page-title">Messages</h3>

    <!-- TABLE -->
    <div class="table-container">

        <table class="custom-table">

            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>View</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="c : ${contact}">
                <td th:text="${c.name}">John</td>
                <td th:text="${c.email}">john@gmail.com</td>
                <td th:text="${c.phone}">9999999999</td>

                <td>
                    <form th:action="@{/admin/see-message}" method="post">
                        <input type="hidden" th:value="${c.cid}" name="m_id">
                        <button type="submit" class="view-btn">
                            <i class="fas fa-eye"></i>
                        </button>
                    </form>
                </td>
            </tr>

            </tbody>

        </table>

    </div>
    <script th:if="${message}">
        Swal.fire({
            title: "Message",
            text: "[[${message}]]",
            confirmButtonColor: "#c19a6b",
            allowOutsideClick: false
        }).then(() => {
            window.location.href = "/admin/show-messages";
        });
    </script>
</section>

<!-- SWEET ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>
</html>