<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin_base::layout(~{::section})}">

<body>

<section>

    <!-- TITLE -->
    <h3 class="page-title">User Management</h3>

    <!-- STATS -->
    <div class="stats-box">
        <p>Total Users</p>
        <h2 th:text="${Total_Users}">50</h2>
    </div>

    <!-- TABLE -->
    <div class="table-container">

        <table class="custom-table">

            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="a : ${users}">
                <td th:text="${a.id}">1</td>
                <td th:text="${a.name}">John</td>
                <td th:text="${a.email}">john@gmail.com</td>

                <td>
                        <span class="role"
                              th:text="${a.role eq 'ROLE_ADMIN' ? 'ADMIN' : 'USER'}">
                        </span>
                </td>

                <td>
                    <form th:action="@{/admin/make-user-dead}" method="post">
                        <input type="hidden" th:value="${a.id}" name="a_id">
                        <button type="submit" class="delete-btn">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>

            </tbody>

        </table>

    </div>

</section>

<!-- ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:if="${User_Deleted}">
    Swal.fire({
        title: "Done",
        text: "User Deleted Successfully",
        icon: "success",
        confirmButtonColor: "#c19a6b"
    }).then(() => {
        window.location.href = "/admin/user-list";
    });
</script>

</body>
</html>