<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/UserBase::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Sidebar Menu</title>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap'>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
    <section class="home">
        <div class="text">Fill Details</div>
        <div class="form-container">
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="phone">Phone:</label>
                <input type="tel" id="Phonee" name="phone" required><br><br>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea><br><br>

                <div class="button-container">
                    <input type="submit" value="Submit" onclick="showSweetAlert()">
                </div>
            </form>
        </div>
    </section>
    <script>
        function showSweetAlert() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor:
                    '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "https://example.com";
                }
            });
        }
    </script>
</body>