<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link th:href="@{/css/signin.css}" rel="stylesheet"> -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
  <link rel="stylesheet" th:href="@{/css/fotterstyle.css}">
  <link rel="stylesheet" th:href="@{/css/contact.css}">
  <link rel="stylesheet" th:href="@{/css/carousel.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/theme-pages.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link th:href="@{/css/signin.css}" rel="stylesheet">
  <!-- SweetAlert2: load early so page scripts can use Swal -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" crossorigin="anonymous"></script>
  <title th:text="${Title}">Base html</title>
</head>

<body>




  <!-- <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-1">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
  
      <ul class="nav h5 col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" class="nav-link px-2">Home</a></li> -->
        <!-- <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li> -->
        <!-- <li><a th:href="@{about}" class="nav-link px-2">About</a></li>
        <li><a th:href="@{ContactUs}" class="nav-link px-2">Contact-Us</a></li>
      </ul>
  
      <div class="col-md-3 text-end">
        <ul class="nav nav-pills col-12 col-md-auto h5 mb-3 justify-content-center mb-md-0">
          <li><a th:href="@{Login}" class="nav-link px-3 active me-3">Login</a></li>
          <li><a th:href="@{SingUp}" class="nav-link px-2.5 active">Sing-Up</a></li>
        </ul>
      </div>
    </header>
  </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light site-nav">
  <div class="site-nav__inner">
    <a class="site-nav__logo" th:href="@{/}" aria-label="Resume Builder home">
      <img th:src="@{/image/resumebuilder-logo.svg}" alt="" width="40" height="40" class="site-nav__logo-img">
    </a>
    <button class="navbar-toggler site-nav__toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse site-nav__collapse" id="navbarNav">
      <ul class="navbar-nav site-nav__menu">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{about}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{ContactUs}">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav site-nav__auth">
        <li class="nav-item">
          <a class="nav-link site-nav__auth-link site-nav__auth-link--login" th:href="@{Login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link site-nav__auth-link site-nav__auth-link--signup" th:href="@{SingUp}">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  <div th:replace="${content}"></div>

  <footer class="site-footer">
    <div class="site-footer__inner">
      <div class="site-footer__top">
        <a class="site-footer__logo" th:href="@{/}" aria-label="Resume Builder home">
          <img th:src="@{/image/resumebuilder-logo.svg}" alt="" width="44" height="44" class="site-footer__logo-img">
        </a>
        <p class="site-footer__tagline">Build ATS-friendly resumes in minutes.</p>
        <nav class="site-footer__nav" aria-label="Footer navigation">
          <a th:href="@{/}">Home</a>
          <a th:href="@{about}">About Us</a>
          <a th:href="@{ContactUs}">Contact Us</a>
          <a th:href="@{Login}">Login</a>
          <a th:href="@{SingUp}">Sign Up</a>
        </nav>
      </div>
      <div class="site-footer__bottom">
        <p class="site-footer__copy">Copyright © 2025 Resume Builder. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/home.js}"></script>
</body>

</html>