<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .forgot-password-container {
            max-width: 500px;
            margin: 150px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <div class="forgot-password-container">
        <h2 class="text-center">Verify E-mail</h2>
        <p class="text-center">Enter OTP to reset your password.</p>
        <form th:action="@{/email/CheckOtpDemo}" method="post" th:object="${forgotemail}">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" name="form" id="staticEmail"
                        th:value="${forgotemail.form}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">OTP</label>
                <div class="col-sm-10">
                    <input type="number" placeholder="Enter OTP Here" name="OTP" class="form-control" id="inputPassword">
                </div>
            </div>
            <!-- <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Button</button>
            </div> -->
            <div class="text-center mt-3">
                <button class="btn btn-primary" type="submit">Verify</button>
                <!-- <br> -->
                <!-- <a th:href="@{Login}">Back to Login</a> -->
            </div>
        </form>
        
    </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:if="${InCorrect_otp}">
            Swal.fire({
                title: "Oops",
                text: "Incorrect OTP Enter Correct OTP",
                icon: "error",
                allowOutsideClick: false
            });
        </script>
        <script th:if="${Correct_otp}">
            Swal.fire({
                title: "Good job!",
                text: "OTP is correct",
                icon: "success",
                allowOutsideClick: false
            });
        </script>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>